.notificationBarContainer {
  background-color: #e6f1e6;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

.infoCardContainer--bloque-cat{
  width: 300px;
  height: 200px;
  margin: 15px;
  transition: ease 0.5s;
  position: relative;
}

.infoCardContainer--bloque-cat::before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(70, 69, 69, 0.6);
    cursor: pointer;
}

.infoCardContainer--bloque-cat:hover{
  transition: ease 0.5s;
  transform: scale(0.95);
  overflow: hidden;
  border-radius: 4px;
}

.infoCardHeadline--bloque-cat{
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 300;
  margin-bottom: 50px;
  top: 29%
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:black; */
}

.notificationBarInner{
  background-color: rgb(124, 124, 124);
}

.notificationContent{
  color: white;
  text-decoration: none;
  
}

.imageElement--image-deal{
  color: white;
  width: 70px;
}

.imageElement--image-deal-fast{
  margin-left: 0px;
}

.imageElement--logoLund{
  padding: 10px;  
}

.logoContainer--logo-facebook{
  min-width: 10px !important;
  width: 50px !important;
  padding: 11px 0 0 0px;
}

.logoImage--logo-facebook{
  margin-left: 20px;
}

.logoContainer--logo-facebook:hover{
  color: black;
}

.logoContainer{
  text-align: left;
}


@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }

  
}

@media(max-width: 480px) {
  .logoContainer--logo-instragram{
    padding-left: 20px;
  }

}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

