.container--deals {
  color: white;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.container--btn-arrepentimiento{
  width: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.wrapper--btn-arrepentimiento{
  border-bottom: 4px solid rgb(49, 49, 49);
  background-color: rgba(167, 167, 167, 0.521);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 210px;
  height: 41px;
  transition: ease 0.5s;
  
}
.wrapper--btn-arrepentimiento:hover{
  background: rgba(49, 49, 49, 0.432);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 4px solid rgb(88, 88, 88);
  color: white;
  height: 41px;
  transition: ease 0.5s;
}

.paragraph--btn-arrepentimiento{
 text-align: center;
 line-height: 0.5;
}

/* about us */

.container--about{
  text-align: center;
  width: 100%;
}

.container--title{
  text-align: center;
  width: 100%;
}

.wrapper--about{
  width: 1000px;
}

.wrapper--title{
  width: 500px;
}

.headingLevel1--title{
  text-align: center;
  width: 500px;
}

.paragraph--about{
  text-align: center;
  width: 1000px;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
